<mat-toolbar color="primary">
  <span>Cingo Log</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>
<div class="basic-container">
  <form class="form">
        <mat-form-field floatPlaceholder="never" color="accent">
          <input matInput #filter placeholder="Filtro">
        </mat-form-field>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon class="icon-display">add_circle</mat-icon>
        </button>
  </form>

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="content">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Conteúdo</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.content}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Vezes</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.quantity}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
